.App {
  text-align: center;
}

body{
  background-image: url('map.png');
  background-size: cover;
}

form{
  display: flex;
  flex-direction: column;
  
}

.subSearch{
  margin-top: 2.5vh;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 2vh;
}

.search{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #a9aaad;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 25px;
  z-index: 5;
}


.logo{
  margin-bottom: 1.5vh;
}

hr{
  width:93%;
  margin-bottom: 2vh;
  border: 0;
  border-top: 2px solid #dddbda;

}

.split{
  display: flex;
  flex-direction: row;
}